/* .main-side-drawer-wrapper {
  min-width: 250px;
  background: #282842;
  
  min-height: 100vh;
  box-shadow: inset -1px 0px 0px #e2e2ea;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-side-drawer-wrapper::-webkit-scrollbar {
  display: none;
}

.main-side-drawer-wrapper > h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #6f758b;
  padding: 30px 20px 10px 20px;
}

.side-drawer-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.link-wrapper {
  display: flex;
  align-items: center;
  padding: 18px 20px;
  gap: 20px;
  cursor: pointer;
}

.link-wrapper:hover {
  background: #000029;
  border-left: 1px solid #ffffff;
  margin-right: 1px;
}

.link-wrapper-image {
  width: 18.5px;
  height: 18.5px;
  
}

.link-wrapper > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.loads-dropdown-wrapper {
  padding: 0px 20px 20px 58px;
  margin-top: -15px;
}
.loads-link-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 10px 0px 0px;
  justify-content: space-between;
}
.loads-link-wrapper > p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #ffffff;
}
.loads-link-wrapper > span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: #6f758b;
}
.loads-arrow-icon {
  width: 12px !important;
  height: 14px !important;
  position: relative;
  right: -86px;
}

.loads-arrow-icon-reverse {
  transform: scaleY(-1);
  width: 12px !important;
  height: 14px !important;
  position: relative;
  right: -86px;
} */
